@using Edurem.Components;
@model Edurem.ViewModels.GroupCreationEditModel

@{
    ViewData["Title"] = "Новая группа";
    ViewData["ApplicationName"] = "Edurem";
    Layout = "_AccountLayout";
}

<form class="row mt-5" asp-controller="Account" asp-action="CreateGroup" method="post" autocomplete="off">
    <div class="col-12 justify-content-center">
        <div class="row">
            <div class="col-5">
                <input asp-for="Name" class="form-control" placeholder="Название группы" style="font-size:20px" />
                <span asp-validation-for="Name" class="text-danger" style="font-weight: bold"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <component>@(await Html.RenderComponentAsync<Edurem.Components.SubjectsDropdown>(RenderMode.ServerPrerendered, new { UserId = int.Parse(Context.User.GetClaim(ClaimKey.Id)), SubjectId = Model.SubjectId }))</component>
                <input asp-for="SubjectId" id="SubjectId" hidden />
                <span asp-validation-for="SubjectId" class="text-danger" style="font-weight: bold"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <input class="btn btn-primary" value="Создать" type="submit" />
            </div>
        </div>
    </div>    
</form>

<script>
    window.updateSubject = function (subjectId) {
        document.getElementById('SubjectId').value = subjectId;
    }
</script>