@using Edurem.Components;
@model Edurem.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Группы";
    ViewData["ApplicationName"] = "Edurem";
    Layout = "_AccountLayout";
}


<div class="row mt-2">
    <div class="col-3 col-md-4 col-xl-2 text-left">
        <div class="row">
            <input type="button" value="Создать группу" class="w-100 btn btn-success text-center"
                   onclick="window.location='@Url.Action("CreateGroup", "Account")'" />
        </div>
    </div>
</div>
<div class="row border-bottom mt-2 mb-2">
    <div class="col-12">
        <component>@(await Html.RenderComponentAsync<Edurem.Components.GroupsFilterSearch>(RenderMode.ServerPrerendered, new { CurrentUser = Model.CurrentUser }))</component>
    </div>
</div>
