
@{
    ViewData["Title"] = Context.User.GetClaim(ClaimKey.Surname) + " " + Context.User.GetClaim(ClaimKey.Name);
    ViewData["ApplicationName"] = "Edurem";
    Layout = "_AccountLayout";
}
<div class="container-fluid">
</div>