@inject Edurem.Services.ICookieService CookieService;

@{
    var cookies = Context.Request.GetCookieValue(ClaimKey.CookiesId);
    ViewData["Title"] = CookieService.GetCookie(ClaimKey.Surname, cookies) + " " + CookieService.GetCookie(ClaimKey.Name, cookies);
    ViewData["ApplicationName"] = "Edurem";
    Layout = "_AccountLayout";
}
<div class="container-fluid">
</div>